<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<servlet-class>com.cerpsoft.in.action.Register</servlet-class>
  </servlet>
  
<servlet-mapping>
	<servlet-name>Register</servlet-name>
	<url-pattern>/Register</url-pattern>
</servlet-mapping>

<welcome-file-list>
        <welcome-file>Register.jsp</welcome-file>
    </welcome-file-list>
    
</web-app>
